@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            TASK ADD PAGE
                        </h4>
                        <form asp-action="Add" asp-controller="Task" method="post">
                            <div class="mb-3">
                                <label for="title" class="form-label">Task Title</label>
                                <input type="text" class="form-control" name="title">
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label">Title Description</label>
                                <input type="text" class="form-control" name="description">
                            </div>

                            <div class="mb-3">
                                <label for="owner" class="form-label">Tiitle Owner</label>
                                <input type="text" class="form-control" name="owner">
                            </div>


                            <div class="mb-3">
                                <label for="status" class="form-label">Task Status</label>
                                <select class="form-control " name="status">
                                    <option value="0">0</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="commentId" class="form-label">CommentId</label>
                                <input type="text" class="form-control" name="commentId">
                            </div>

                            <button type="submit" class="badge badge-outline-success">Add Task</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!-- partial -->
</div>